@model IEnumerable<DemoDB2.Models.OrderDetail> 

@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="text-center">
    <p style="margin-top:20px;font-weight: bold;">
        CÁM ƠN BẠN ĐÃ ỦNG HỘ !!!
    </p>
    <img src="~/img/check.png" />
</section>
