
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header dichvuimg" style="margin-bottom: 90px; background-image: url(./img/service.png);background-repeat: no-repeat;background-size: cover;background-position: center;">
    <div class="container text-center py-5">
        <h1 class="text-dark display-3 mt-lg-5">Dịch vụ</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-dark" href="">Home</a></p>
            <i class="fa fa-circle px-3 text-dark"></i>
            <p class="text-dark m-0">Service</p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Những dịch vụ của chúng tôi</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/order.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -50px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Order theo yêu cầu</h5>
                            <p>Chúng tôi sẽ đặt hàng theo yêu cầu của khách hàng về những loại mỹ phẩm ngoại nhập</p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/BaoHanh.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -50px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Bảo hành 1 đổi 1</h5>
                            <p>Chính sách bảo hành 1 đổi 1 uy tín nếu xảy ra lỗi hoặc giao nhầm hàng hóa. Đảm bảo quyền lợi cho khách hàng</p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/GiaoHangNhanh.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -50px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Giao hàng nhanh chóng</h5>
                            <p>Giao hàng nhanh chóng cho khách hàng khi order bên nước ngoài và trong nội thành</p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Tìm hiểu thêm</a>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/GiaoHangFree.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -50px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Giao hàng miễn phí</h5>
                            <p>Miễn phí giao hàng trong nội thành và hóa đơn trên 1,5 triệu cho mọi vùng khác</p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Phản hồi của khách hàng</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-1.jpg" alt="">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-2.jpg" alt="">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-3.jpg" alt="">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
