
@model IEnumerable<DemoDB2.Models.Category>
<style>
    ul {
    }

        ul li {
            font-size: 20px;
        }
</style>
<br />
<h3 style="color:darkred; text-align:left;margin-bottom:20px">Danh mục Loại SP</h3>
<ul style="list-style-type: none;padding:0;" id="div-u" class="w-50">
    @{
        foreach (var item in Model)
        {
            <li class="div-cate">
                @Html.ActionLink(item.NameCate, "ProductList", "Products", new{ category = item.IDCate }, "")
            </li>
            <hr />
        }
    }
</ul>