@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid p-0 mb-5 pb-5">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/img/NuocHoa.jpg" alt="Image" style="height: 600px;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Nước Hoa & Mỹ Phẩm</h4>
                        <h1 class="display-3 text-white mb-md-4">Nước Hoa Ngoại Nhập Chất Lượng Cao</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/img/z3831615791503_7fd80fce0eb820b335a03ae2c64ba581.jpg" alt="Image" style="height: 600px;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Nước Hoa & Mỹ Phẩm</h4>
                        <h1 class="display-3 text-white mb-md-4">Mỹ Phẩm Ngoại Nhập Chất Lượng Cao</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n1"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n1"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Cửa hàng được thành lập vào 2022</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">About Us</h4>
                <h5 class="text-muted mb-3">Tên thành viên nhóm</h5>
                <p>
                    <ul style="list-style:none;" id="tenthanhvien">
                        <li>Lê Viết Khải Hưng</li>
                        <li>Trần Phương Nam</li>
                        <li>Đỗ Tiến Đạt</li>
                        <li>Hoàng Nguyên Phương Liêm</li>
                    </ul>
                </p>
                <a href="" class="btn btn-secondary mt-2">Xem thêm</a>
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="~/img/Gucci Flora.png" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Our Features</h4>
                <p>
                    Cung cấp những loại nước hoa và mỹ phẩm chất lượng cao. Giá tốt nhất thị trường. Đảm bảo uy tín về nguồn nhập. <br> <br>
                </p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Nhận order 1-2 tuần về tay</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Bảo hành 1 đổi 1</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Freeship hóa đơn từ 1,5 triệu.</h5>
                <a href="" class="btn btn-primary mt-2">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Promotion Start -->
<div class="container-fluid my-5 py-5 px-0">
    <div class="justify-content-center">
        <div class="bg-bestseller wow animate__animated animate__tada">
            <h1 class="best-seller section-title position-relative text-center mb-5">Best Seller</h1>
        </div>
    </div>
    <div class="row bg-jonny m-0">
        <div class="col-md-6 px-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="~/img/Johnny.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-md-6 py-5 py-md-0 px-0">
            <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                <div class="d-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                     style="width: 100px; height: 100px;">
                    <h3 class="font-weight-bold text-secondary mb-0">$199</h3>
                </div>
                <h3 class="font-weight-bold text-white mt-3 mb-4 dior-header">DIOR SAUVAGE</h3>
                <p class="text-white mb-4">Hương thơm mà <span class="dior">Dior Sauvage EDT</span> mang lại vẻ đẹp cuốn hút có nét cổ điển nhưng hiện đại. Những chàng trai yêu thích nét đẹp phong trần lãng tử, thích sự tự do cuồng nhiệt thì đây là một lựa chọn không thể hoàn hảo hơn nữa.</p>
                <a href="" class="btn btn-secondary py-3 px-5 mt-2">Đặt ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- Promotion End -->
<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Gian Hàng Mỹ Phẩm </h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/10.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;top:30px">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Dior Capture Totale Intensive Essence Lotion</h5>
                            <p>Dior Capture Totale Intensive Essence Lotion là dòng sản phẩm cao cấp đến từ thương hiệu Dior nổi tiếng. Sản phẩm hỗ trợ dượng da tươi trẻ và rạng rỡ</p>                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/11.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px; top: 30px">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Lancôme Genifique Yeux Eye Cream</h5>
                            <p>Trị Bọng mắt, trị chảy xệ da dưới mắt. Trị thâm quầng mắt, mắt gấu trúc. Chống nhăn da vùng mắt, vết chân chim đuôi mắt. Dưỡng da vùng mắt sáng màu, đều màu, da tươi trẻ</p>
                  
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/12.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px; top: 30px">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Versace Bright Crystal Perfumed Bath & Shower</h5>
                            <p>Sữa tắm nước hoa Versace Bright Crystal mang lại sự thư giãn và ngọt ngào suốt cả ngày bởi mùi hương nhẹ nhàng, gợi lên nét gợi cảm và ngọt ngào </p>
                            
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/7.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px; top: 30px">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Sữa Chống Nắng Anessa Dưỡng Da Kiềm Dầu</h5>
                            <p>Sữa Chống Nắng Anessa là sản phẩm chống nắng đến từ thương hiệu chống nắng dưỡng da hàng đầu Nhật Bản, giúp chống lại tác hại của tia UV tối ưu dưới mọi điều kiện sinh hoạt</p>
                            
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/8.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px; top: 30px">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">YSL Le Cushion Encre De Peau Luminous Matte</h5>
                            <p>YSL Le Cushion Encre De Peau Luminous Matte Cushion Foundation là dòng mới nhất và được cải tiến hơn với thiết kế vỏ da chevron mang tính biểu tượng của Saint Laurent</p>
                            
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/img/9.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px; top: 30px">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Estee Lauder Advanced Night Repair Eye Complex</h5>
                            <p>Estee Lauder Advanced Night Repair Eye Complex là phiên bản mới nhất, mạnh hơn, nhanh và hiệu quả hơn với tất cả các dấu hiệu lão hóa mắt, giúp đôi trẻ trung hơn và khỏe mạnh hơn</p>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Portfolio Start -->
<div class="container-fluid my-5 py-5 px-0">
    <div class="row justify-content-center m-0">
        <div class="col-lg-5">
            <h1 class="section-title position-relative text-center mb-5">Bộ Sưu Tập Khuyến Khích Sử Dụng Vào Mùa Hè</h1>
        </div>
    </div>
    <div class="row m-0 portfolio-container">
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/12.png" alt="">
                <a class="portfolio-btn" href="~/img/12.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/Gucci Flora.png" alt="">
                <a class="portfolio-btn" href="~/img/Gucci Flora.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/Gucci Bloom.png" alt="">
                <a class="portfolio-btn" href="~/img/Gucci Bloom.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/Narciso Musc Noir Rose.png" alt="">
                <a class="portfolio-btn" href="~/img/Narciso Musc Noir Rose.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/Sauvage Dior.png" alt="">
                <a class="portfolio-btn" href="~/img/Sauvage Dior.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0 portfolio-item">
            <div class="position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/Scandal.png" alt="">
                <a class="portfolio-btn" href="~/img/Scandal.png" data-lightbox="portfolio">
                    <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Gian Hàng Nước Hoa</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel product-carousel">
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0">$99</h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="~/img/Gucci Bloom.png" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4">Gucci Bloom</h5>
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0">$99</h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="~/img/Gucci Flora.png" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4">Gucci Flora</h5>
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0">$99</h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="~/img/Narciso Musc Noir Rose.png" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4">Narciso Musc Rose</h5>
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0">$99</h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="~/img/Salvatore Ferragamo Signorina.png" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4">Salvatore Ferragamo</h5>
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0">$99</h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="~/img/Sauvage Dior.png" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4">Sauvage Dior</h5>
                    </div>
                    <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                        <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                            <h4 class="font-weight-bold text-white mb-0">$99</h4>
                        </div>
                        <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                            <img class="rounded-circle w-100 h-100" src="~/img/Scandal.png" style="object-fit: cover;">
                        </div>
                        <h5 class="font-weight-bold mb-4">Scandal</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Nhân Viên Cửa Hàng</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel team-carousel">
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px; top: 30px">
                            <h5 class="font-weight-bold mt-5 mb-3 pt-5">Trần Phương Nam</h5>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px; top: 30px">
                            <h5 class="font-weight-bold mt-5 mb-3 pt-5">Hoàng Nguyên Phương Liêm</h5>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px; top: 30px">
                            <h5 class="font-weight-bold mt-5 mb-3 pt-5">Đỗ Tiến Đạt</h5>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="img/team-4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px; top: 30px">
                            <h5 class="font-weight-bold mt-5 mb-3 pt-5">Lê Viết Khải Hưng</h5>
                            <h6 class="text-uppercase text-muted mb-4">Designation</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Phản Hồi Khách Hàng</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-1.jpg" alt="">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-2.jpg" alt="">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-3.jpg" alt="">
                        <h5 class="font-weight-bold m-0">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<!-- wow -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<!-- back-top-top -->
<script>

    jQuery(document).ready(function () {
        window.onscroll = changePos;

        function changePos() {
            var header = $("#header");
            var headerheight = $("#header").height() + 200;
            if (window.pageYOffset > headerheight) {
                header.addClass('scrolldown');
            } else {
                header.removeClass('scrolldown');
            }
        }
    });
</script>